__pycach__/*
__pycach__
*.pyc
*.pyo
.pytest_cache
*__init__.cpython

# Virtual environment
venv/
env/
.venv/

# Miscellaneous
*.swp

# ignore sqlite files
*.db

# ignore image files
# *.jpg
# *.png
# *.gif
# *.svg
# *.jpeg
# *.ico
# *.webp
# *.avif

