{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-between align-items-center mb-5 p-4">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="position-relative exloi py-lg-0 py-4">
                        <div class="exloi-caption">
                            <h1 class="text-success d-inline-flex rounded-4 mb-2 fw-bold"><span>About Us</span></h1>
                            <h2 class="fw-light mb-3 fs-1">Who We're & Mission</h2>
                            <p class="mb-0 fs-5 fw-light mb-3">
                                Virtual Clinic is a platform that connects patients with doctors and other healthcare providers. We provide a range of services, including online consultations, prescription refills, and lab tests. Our mission is to make healthcare more accessible and affordable for everyone.
                            </p>
                            <p class="mb-0 fs-5 fw-light mb-3">
                                Our System is designed to streamline and automate various administrative tasks for hospitals and clinics. It helps manage patient records, appointments, billing, and other operational workflows efficiently by the doctor only without the need for assistants.
                            </p>
                            <p class="mb-0 fs-5 fw-light mb-3">
                                By digitizing the entire patient care process, we aim to reduce manual errors, also reducing the need for administrative staff, which reduces treatment costs for patients in developing countries, and improve communication between departments, and enhance the overall healthcare experience for both patients and providers.
                            <div class="mt-4">
                                <a href="https://github.com/Hana00661/Hospital_management_system/"class="btn btn-primary btn-lg fw-bold rounded">Meet Our Team <i class="fas fa-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="position-relative exloi">
                        <div class="position-relative pe-4 pb-4">
                            <img
                                style="height: 650px; width: 100%"
                                src="https://miro.medium.com/v2/resize:fit:1400/1*GOjaxmKbdxmn4v8P7F38fQ.jpeg"
                                class="img-fluid rounded-4 object-fit-cover"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}